<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
This is for everybody.
<a href="/" th:href="@{/login}">Login here</a>
<a href="/" th:href="@{/news}">News</a>
</body>
</html>