<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
This is news.
<div th:each=" news : ${allNews}">
    <p th:text="${news.text}"></p>
</div>
<a href="/" th:href="@{/}">Home</a>
</body>
</html>