<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
You shall not pass.
<a href="/" th:href="@{/}">Home</a>
</body>
</html>